@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F5F7FB;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro{
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introHeader{
  padding-right: 5vw;
  font-family: 'Karla';
  height: 41px;
  font-weight: 700;
  font-size: 5em;
  line-height: 37px;
  margin-bottom: 20px;

}
.introDescription{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 22px;
  line-height: 19px;
  width: 45vw;
}
.btn{
  font-size: 1em;
  color: white;
  background: #293264;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  border: none;
  margin-top: 20px;
  transition: 0.2s;
}
.btn:active{
  background: #4D5B9E;
}
.btn:hover{
  cursor: pointer;
}

#quizes{
  margin-bottom: 15px;
}
.q{
  margin-top: 40px;
  padding-bottom: 15px;
  border-bottom: #4d5b9e3d solid 1px;
}
.question{
  margin: 0 20px;
  color: #293264;
}
.answers{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px 20px;
  margin: 10px 20px;
}

.option{
  text-align: center;
  color: #293264;
  margin: 0;
  padding: 10px 5px 12px;
  border:#293264 solid 1px;
  border-radius: 15px;
}
.option:hover{
  cursor: pointer;
}
.correct{
  background-color: rgba(45, 211, 45, 0.733);
  color: rgb(5, 82, 5);
  font-weight: 500;
  transition: 0.1s;
  border: rgba(45, 211, 45, 0.733);
}
.emptyCorrect{
  background-color: rgba(45, 211, 45, 0.404);
  color: rgb(5, 82, 5);
  font-weight: 500;
  transition: 0.1s;
  border: rgba(45, 211, 45, 0.404);
}
.wrong{
  background-color: rgba(211, 45, 45, 0.384);
  color: rgba(82, 5, 5, 0.507);
  font-weight: 500;
  transition: 0.1s;
  border: rgba(211, 45, 45, 0.384);
}
.selected{
  color:#293264;
  background-color:#4d5b9e5b;
  transition: 0.05s;
  border: #4d5b9e5b solid 1px;
}
.btnContainer{
  display: flex;
  margin: 10px 20px 50px 20px;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.msg{
  color: #293264;
  padding-top: 2rem;
}



@media (max-width:640px){
  .btnContainer{
    display: flex;
    margin: 0px 20px 50px 20px;
    flex-direction: column;
    align-items: center;
  }
  .msg{
    padding: 0;
  }
  .butt-1{
    margin-top: 0;
    height: auto;
    padding: 10px;
    border-radius: 9px;
  }
  .question{
    margin: 0 5vw;
  }
  .question h3{
    font-size: 1em;
    margin: 0;
  }
  .answers{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 10px 5vw 0;
  }
  .option{
    text-align:left;
    height: auto;
    padding: 5px 5px 5px 12px;
    border-radius: 9px;
    font-size: .9em;
  }
  .q{
    margin-top: 20px;
    padding-bottom: 19px;
  }
  .introDescription{
    width: 70vw;
    font-size: 20px;
    text-align: left;
    line-height: 22px;
    margin-top: 0;
  }
  .intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
  }
  .introHeader{
    margin: 15px;
    font-size: 4em;
  }
}